.clearfix:after
{
    font-size: 0px;
    content: ".";
    display: block;
    height: 0px;
    visibility: hidden;
    clear: both;
}
.column 
{
	float: left;
	margin-left: 30px;
}
.column_1_1
{
	width: 100%;
}
.header_top_bar_container
{
	background-color: #363B40;
}
/* --- header top bar styles --- */
/* - style 2 & 3 & 4 - */
.style_2.header_top_bar_container
{
	background: #FFF;
}
.style_2.border.header_top_bar_container
{
	border-bottom: 1px solid #E9E9E9;
}
.style_2 .latest_news_scrolling_list_container .category,
.style_2 .latest_news_scrolling_list_container li.left, 
.style_2 .latest_news_scrolling_list_container li.right,
.style_2 .search,
.style_2 .search .search_input
{
	border-color: #E9E9E9;
}
.style_2 .search .search_input,
.style_3 .search .search_input,
.style_4 .search .search_input
{
	background: transparent;
}
.style_2 .latest_news_scrolling_list_container .category,
.style_2 .latest_news_scrolling_list_container .category a,
.style_2 .latest_news_scrolling_list_container li .latest_news_scrolling_list a,
.style_2 .search .search_input,
.style_2 .search .search_input.hint,
.style_3 .latest_news_scrolling_list_container .category,
.style_3 .latest_news_scrolling_list_container .category a,
.style_3 .latest_news_scrolling_list_container li .latest_news_scrolling_list a,
.style_3 .search .search_input,
.style_3 .search .search_input.hint
{
	color: #25282A;
}
.style_2 .latest_news_scrolling_list_container li .timeago,
.style_3 .latest_news_scrolling_list_container li .timeago
{
	color: #ABABAB;
}
.style_2 .latest_news_scrolling_list_container .left a,
.style_3 .latest_news_scrolling_list_container .left a
{
	background-image: url("../images/icons/navigation/navigation_latest_arrow_left.png");
}
.style_2 .latest_news_scrolling_list_container .right a,
.style_3 .latest_news_scrolling_list_container .right a
{
	background-image: url("../images/icons/navigation/navigation_latest_arrow_right.png");
}
.style_2 .latest_news_scrolling_list_container li.left:hover, 
.style_2 .latest_news_scrolling_list_container li.right:hover,
.style_2 .search .search_submit:hover
{
	background-color: #E9E9E9;
}
.style_2 .search .search_submit,
.style_3 .search .search_submit
{
	background-image: url("../images/icons/other/header_search.png");
}
/* - style 3 - */
.style_3.header_top_bar_container
{
	background: #F0F0F0;
}
.style_3.border.header_top_bar_container
{
	border-bottom: 1px solid #E0E0E0;
}
.style_3 .latest_news_scrolling_list_container .category,
.style_3 .latest_news_scrolling_list_container li.left, 
.style_3 .latest_news_scrolling_list_container li.right,
.style_3 .search,
.style_3 .search .search_input
{
	border-color: #E0E0E0;
}
.style_3 .latest_news_scrolling_list_container li.left:hover, 
.style_3 .latest_news_scrolling_list_container li.right:hover,
.style_3 .search .search_submit:hover
{
	background-color: #E0E0E0;
}
/* - style 4 - */
.style_4.header_top_bar_container
{
	background: #2D3136;
}
.style_4.border.header_top_bar_container
{
	border-bottom: 1px solid #363B40;
}
.style_4 .latest_news_scrolling_list_container .category,
.style_4 .latest_news_scrolling_list_container li.left, 
.style_4 .latest_news_scrolling_list_container li.right,
.style_4 .search,
.style_4 .search .search_input
{
	border-color: #363B40;
}
.style_4 .latest_news_scrolling_list_container li.left:hover, 
.style_4 .latest_news_scrolling_list_container li.right:hover,
.style_4 .search .search_submit:hover
{
	background-color: #363B40;
}
/* - style 5 - */
.style_5.header_top_bar_container
{
	background: #000;
}
.style_5.border.header_top_bar_container
{
	border-bottom: 1px solid #464D53;
}
.style_5 .latest_news_scrolling_list_container .category,
.style_5 .latest_news_scrolling_list_container li.left, 
.style_5 .latest_news_scrolling_list_container li.right,
.style_5 .search,
.style_5 .search .search_input
{
	border-color: #464D53;
}
.style_5 .latest_news_scrolling_list_container li.left:hover, 
.style_5 .latest_news_scrolling_list_container li.right:hover,
.style_5 .search .search_submit:hover
{
	background-color: #464D53;
}
.style_5 .search .search_input
{
	background-color: transparent;
}
/* --- header container styles --- */
.style_2.header_container
{
	background: #363B40;
}
.style_2 .header h1,
.style_2 .header h1 a,
.style_3 .header h1,
.style_3 .header h1 a
{
	color: #FFF;
}
.style_2 .header h4,
.style_3 .header h4
{
	color: #9DA4AB;
}
.style_3.header_container
{
	background: #000;
}
.social_icons li
{
	float: left;
	padding: 0 5px 0 0px;
}
.social_icons .social_icon
{
	display: block;
	width: 30px;
	height: 30px;
	background-repeat: none;
	background-position: 0 0;
	outline: none;
}
/* --- latest news scrolling list ---*/
.latest_news_scrolling_list_container li
{
	float: left;
	padding: 15px 14px 17px 15px;
}
.latest_news_scrolling_list_container li.posts
{
	padding: 0;
	overflow: hidden;
}
.latest_news_scrolling_list_container .category
{
	border-right: 1px solid #464D53;
	border-left: 1px solid #464D53;
	font-size: 12px;
	font-weight: bold;
	line-height: 120%;
}
.latest_news_scrolling_list_container .date
{
	padding-left: 0;
}
.latest_news_scrolling_list_container .date .timeago
{
	display: none;
}
.latest_news_scrolling_list_container .date .timeago.current
{
	display: inline;
}
.latest_news_scrolling_list_container li.left,
.latest_news_scrolling_list_container li.right
{
	border-right: 1px solid #464D53;
	cursor: pointer;
}
.latest_news_scrolling_list_container li.left
{
	padding: 8px 8px 9px 7px;
}
.latest_news_scrolling_list_container li.right
{
	padding: 8px 7px 9px 8px;
}
.latest_news_scrolling_list_container li.left:hover,
.latest_news_scrolling_list_container li.right:hover
{
	background: #464D53;
}
.latest_news_scrolling_list_container .left a,
.latest_news_scrolling_list_container .right a
{
	display: block;
	width: 29px;
	height: 29px;
	background: no-repeat 0 0;
}
.latest_news_scrolling_list_container .left a
{
	background-image: url("../images/icons/navigation/dark_bg/navigation_latest_arrow_left.png");
}
.latest_news_scrolling_list_container .right a
{
	background-image: url("../images/icons/navigation/dark_bg/navigation_latest_arrow_right.png");
}
.latest_news_scrolling_list_container .left:hover a,
.latest_news_scrolling_list_container .right:hover a
{
	background-position: 0 -29px;
}
.latest_news_scrolling_list_container li .timeago
{
	color: #858D94;
	font-size: 14px;
}
.latest_news_scrolling_list_container li .latest_news_scrolling_list
{
	height: 46px;
	overflow: hidden;
}
.latest_news_scrolling_list_container li .latest_news_scrolling_list li
{
	padding-right: 5px;
}
.latest_news_scrolling_list_container li .latest_news_scrolling_list a
{
	color: #FFF;
	font-size: 14px;
}
/* --- slider posts list --- */
.slider_posts_list_container
{
	position: relative;
}
.slider_posts_list
{
	clear: both;
}
.slider_posts_list li
{
	float: left;
	position: relative;
	width: 262.5px !important;
	height: 120px;
	border-bottom: 1px solid #F0F0F0;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.column_2_3 .slider_posts_list li
{
	width: 230px !important;
}
.slider_posts_list li.current h5, .slider_posts_list li:hover h5
{
	color: #25282A;
}
.slider_posts_list li h5
{
	position: relative;
	z-index: 1;
	padding-top: 8px;
	padding-left: 20px;
	padding-right: 20px;
	color: #7C7C7C;
}
.slider_posts_list li .date
{
	display: block;
	position: relative;
	z-index: 1;
	color: #ABABAB;
	font-size: 11px;
	padding-top: 23px;
	padding-left: 20px;
}
.slider_posts_list .slider_posts_list_bar
{
	position: absolute;
	background-color: #ED1C24;
    height: 6px;
	bottom: -1px;
}
.slider_posts_list .slider_posts_list_progress_block
{
	position: absolute;
	background-color: #F0F0F0;
    height: 100%;
	bottom: 4px;
}